*.log
*.save
sensitivedata_*
userdata*.txt.gz
userdata*.txt
CloudInitFiles/test.py
CloudInitFiles/tmp.conf
CloudInitFiles/test.log
ConfigureTest.ccfg
SLC5.qcow2
SLC5.raw
cloud-init-0.7.5-bzr896.noarch.rpm
cloud.cfg.orig
create-new-base-image
privkey.pem
test.py
tmp/
userdata.txt
servercontext
test.txt
production
Grid-Prod.tar*
ConfigureKeys.ccfg
ConfigureWN_snapshot.ccfg
ConfigureWNreal.ccfg
ListWN.txt
ListWNreal.txt
CloudInitFiles/CE-test/
CloudInitFiles/WN-test/
CloudInitFiles/cloud-timings.log
CloudInitFiles/tmp.txt
.gitignore
oldCEfiles/
scripts_sara/
