accepted_credentials "*"

#Adding YAIM value GRID_AUTHORIZED_RENEWERS if any as authorized_renewers values
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=gridit-wms-01.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-wms-01.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Ferrara/CN=gridrb.fe.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-01.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-02.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=grid014.ct.infn.it/L=Catania/CN=grid014.ct.infn.it/emailAddress=giuseppe.platania@ct.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=gridit-cert-wms.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=eumed-rb-1.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=euchina-rb-1.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-03.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-04.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-05.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-06.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Catania/CN=prod-wms-01.ct.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Catania/CN=prod-wms-02.ct.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Catania/CN=prod-wms-03.ct.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=egrid-rb-01.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=prod-rb-01.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=prod-rb-02.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=prod-wms-01.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=eu-india-02.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=sc2.cr.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Bari/CN=wms1.ba.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Bari/CN=wms2.ba.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Bari/CN=wms3.ba.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Bari/CN=wms4.ba.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Bari/CN=wms5.ba.infn.it"
authorized_renewers "/C=CH/O=CERN/OU=GRID/CN=host/lxn1185.cern.ch"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-07.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-08.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee-rb-09.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=cert-rb-06.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=glite-rb-00.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=glite-rb-01.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel07.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel09.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel10.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel11.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel12.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel14.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel18.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel19.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=devel20.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Padova/CN=cream-06.pd.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms001.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms002.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms003.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms004.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms005.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms006.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms007.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms008.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms009.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms011.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms012.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms013.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms014.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms015.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms016.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms017.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=wms020.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=cert-02.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=pps-fts.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=tigerman.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Milano/CN=egee-rb-01.mi.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CIRMMP/CN=wms-enmr.cerm.unifi.it"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms101.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms102.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms103.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms104.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms105.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms106.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms107.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms108.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms109.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms110.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms111.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms112.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms113.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms114.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms115.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms116.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms117.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms118.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms119.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms121.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms122.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms123.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms124.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms125.cern.ch"
authorized_renewers "/DC=ch/DC=cern/OU=computers/CN=wms126.cern.ch"
authorized_renewers "/O=dutchgrid/O=hosts/OU=nikhef.nl/CN=graszode.nikhef.nl"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=mon-it.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=mon-cnaf.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=bbrbuild01.cr.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=bbr-serv09.cr.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee017.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=sb-serv01.cr.cnaf.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Torino/CN=pandabox.to.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=Torino/CN=vo-pandabox.to.infn.it"
authorized_renewers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=vobox-panda.cr.cnaf.infn.it"



#Adding YAIM value GRID_DEFAULT_RENEWERS if any as default_renewers values

#Adding YAIM value GRID_AUTHORIZED_RETRIEVERS if any as authorized_retrievers values
authorized_retrievers "*"

#Adding YAIM value GRID_DEFAULT_RETRIEVERS if any as default_retrievers values

#Adding YAIM value GRID_AUTHORIZED_KEY_RETRIEVERS if any as authorized_key_retrievers values

#Adding YAIM value GRID_DEFAULT_KEY_RETRIEVERS if any as default_key_retrievers values

#Adding YAIM value GRID_TRUSTED_RETRIEVERS if any as trusted_retrievers values
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=mon-it.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=mon-cnaf.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=bbrbuild01.cr.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=bbr-serv09.cr.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=egee017.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=sb-serv01.cr.cnaf.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=Torino/CN=pandabox.to.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=Torino/CN=vo-pandabox.to.infn.it"
trusted_retrievers "/C=IT/O=INFN/OU=Host/L=CNAF/CN=vobox-panda.cr.cnaf.infn.it"


#Adding YAIM value GRID_DEFAULT_TRUSTED_RETRIEVERS if any as default_trusted_retrievers values

